services:
  oidc:
    image: quay.io/keycloak/keycloak:26.3
    container_name: keycloak
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: azul-is-cool
      KC_DB: dev-file
      KC_HEALTH_ENABLED: "true"
      KC_METRICS_ENABLED: "true"
      KC_HTTP_PORT: "80"
    command:
      - start-dev
      - --import-realm
      # - --hostname
      # - localhost
    volumes:
      - keycloak_data:/opt/keycloak/data
      - ./realm-config.json:/opt/keycloak/data/import/realm-config.json
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.oidc.rule=PathPrefix(`/`)"   # match all paths
      - "traefik.http.routers.oidc.entrypoints=web"
      - "traefik.http.routers.oidc.rule=Host(`oidc.localhost`)" # URL that the service will be exposed at
      - "traefik.http.services.oidc.loadbalancer.server.port=80"
    healthcheck:
      test: /opt/keycloak/bin/kcadm.sh get realms/master --server http://localhost:80 --realm master --user admin --password azul-is-cool
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 10s
    networks:
      azul:
        aliases:
          - oidc.localhost

  opensearch:
    image: opensearchproject/opensearch:3.2.0
    ports:
    - "9200:9200"   # REST API
    - "9600:9600"   # Performance Analyzer
    depends_on:
      oidc:
        condition: service_healthy
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - PW_ADMIN=password
      - PW_AZULW=azulwriterpassword
      - PW_DASH=password
      - network.host=0.0.0.0
      - NETWORK_HOST=0.0.0.0
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD="(labrador!DOG101#"    
    ulimits:
      memlock:
        soft: -1 # Set memlock to unlimited (no soft or hard limit)
        hard: -1
      nofile:
        soft: 65536 # Maximum number of open files for the opensearch user - set to at least 65536
        hard: 65536
    expose:
    - "9200"
    - "9600"
    command:
      - bash
      - -c
      - |
        /usr/share/opensearch/opensearch-docker-entrypoint.sh opensearch &
        (sleep 90 && sh azul/init.sh) &
        wait
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -k --silent --fail https://admin:adminpassword@localhost:9200/_cluster/health || exit 1",
        ]
      interval: 30s
      timeout: 30s
      retries: 3
    volumes:
      - ./opensearch3_config/config.yml:/usr/share/opensearch/config/config.yml
      - ./opensearch3_config/security.yml:/usr/share/opensearch/config/opensearch-security/config.yml
      - ./opensearch3_config/internal_users.yml.tpl:/usr/share/opensearch/config/opensearch-security/internal_users.yml.tpl
      - ./azul:/usr/share/opensearch/azul
    networks:
    - azul

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:3.1.0
    container_name: opensearch-dashboards
    ports:
      - 5601:5601
    expose:
      - "5601"
    environment:
      OPENSEARCH_HOSTS: '["https://opensearch:9200"]'
    networks:
      - azul
    depends_on:
      - opensearch

  kafka:
    image: docker.io/apache/kafka:4.1.0
    container_name: broker
    ports:
      - "9092:9092"
    networks:
      - azul
    environment:
      # KRaft settings
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=controller,broker
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      # Listeners
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
      - KAFKA_NUM_PARTITIONS=3

  traefik:
    image: traefik:v3.5.2
    command:
      - "--api.insecure=true"                   # enable dashboard at :8081
      - "--providers.docker=true"               # watch docker labels
      - "--providers.docker.exposedbydefault=false" # only expose containers with explicit traefik.enable=true label
      - "--providers.docker.network=azul"       # specify the network to watch
      - "--entryPoints.web.address=:80"         # Traefik will listen on localhost:8090
    ports:
      - "80:80"
      - "8089:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - azul

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    expose:
    - "9000"
    - "9001"
    environment:
    - MINIO_ROOT_USER=minio-root-user
    - MINIO_ROOT_PASSWORD=minio-root-password
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    command: server /data --console-address ":9001"
    volumes:
    - 'minio_data:/data'
    networks:
    - azul


volumes:
  minio_data:
    driver: local
  opensearch_data:
    driver: local
  keycloak_data:
    driver: local

networks:
  azul:
    name: azul_net
    driver: bridge